*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square{
  background: #fff;
  border: 1px solid black;
  float: left;
  font-size: 240px;
  font-weight: bold;
  line-height: 34px;
  height: 240px;
  width: 240px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
}

.board-row:after{
  clear: both;
  content: '';
  display: table;
}

.status {
  padding-bottom: 8px;
  font-style: italic;
}

.game {
  display: flex;
}

.game-info {
  margin-left: 60px;
  margin-top: 45px;
}

.game-history {
  padding-bottom: 10px;
}

.game-history button {
  background-color: rgb(105, 180, 250);
  border: none;
  padding: 6px;
  border-radius: 5px;
}